#!/usr/bin/env fish

echo -e "\033[0;32m>>>>> Begin Setting Up Fish Universal Variable Config <<<<<\033[0m"

yes | fish_config theme save "Catppuccin Mocha"

echo -e "\033[0;32m>>>>> End Setting Up Fish Universal Variable Config <<<<<\033[0m"
