{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

format: yaml
